.detail-specialty-container{
    background-color: #dfdfdf;
    .specialty-info{
        min-height: 200px;
        margin: 8px 22px;
        padding: 10px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 1px 6px #eee;
            
    }
    .search-doctor-byprovice {
        margin-left: 22px;
        width: 200px; 
        height: 40px; 
        padding: 5px; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
        color: #333; 
        font-size: 14px; 
        cursor: pointer; 
    }

    .search-doctor-byprovice:focus {
        outline: none; 
        border-color: #007bff; 
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
    }  
    .showDetail {
        color: steelblue; 
        margin-left: 3.2rem;
        margin-top: 1rem;
        font-weight: 500;
    }  
    .specialty-item{
        background-color: #fff;
        min-height: 300px;
        margin: 10px 22px;
        border-radius: 8px;
        box-shadow: 0 1px 6px #eee;
        .col-left{
            .image { 
                min-width: 8rem;   
                width: 80%;             
            }      
        }
    }
}