.home-header-container {
    position: relative;
    height: 80px;
    width: 100%;
    padding: 0 20px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex; //cung 1 hang row
        .left-content {
            width: 25%;
            height: 100%;
            display: flex;
            align-items: center;
            .icon-bars{
                display: none;
            }
            .dropdown-menu {
                position: absolute;
                top: 110%; /* Nằm dưới header */
                left: 0;
                width: 50%; 
                display: block;
                background-color: #fff;
                opacity: 1;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                transform: translateY(-10px);
                transition: opacity 0.3s ease, transform 0.3s ease;
                z-index: 100000000000; /* Đảm bảo menu nằm trên */
            }

            .dropdown-menu li{
                list-style: none;
                padding: 10px 15px; 
                font-size: 16px; 
                color: #333; 
                cursor: pointer;
                transition: background-color 0.3s ease; 
            }
            .dropdown-menu li a {
                color: #333; 
                text-decoration: none; 
                display: block; 
            }
            .dropdown-menu li:hover {
                list-style: none;
                background-color: #f5f5f5; 
            }

            .dropdown-menu li:last-child {
                border-top: 1px solid #ddd; 
                font-weight: 600;
            }

            .header-logo {
                height: 60%;
                width: 60%;
                cursor: pointer;
                margin-left: 15px;
                font-size: 2.2rem; 
                color: #f7d800;
                letter-spacing: 0.04em;
                font-weight: bold;
                display: flex;
                align-items: center;
                i {
                    font-size: 2.8rem; 
                    color: #49bce2;
                    margin-right: 8px; 
                }
            }
            

            i {
                font-size: 28px;
                cursor: pointer;
                color: #929292;
            }
        }

        .center-content {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content {
                cursor: pointer;
                a{
                    text-decoration: none;
                    color: inherit;  
                    transition: color 0.3s, background-color 0.3s;
                }
                .subs-title {
                    font-size: 12px;
                    font-weight: 400;
                    cursor: pointer;
                }
            }
        }

        .right-content {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            i {
                font-size: 20px;
                cursor: pointer;
            }

            .support {
                padding-right: 50px;
                display: flex;
                align-items: center;
            }

            .language-vi {
                cursor: pointer;
                opacity: 0.5;

                &.active {
                    color: red;
                    opacity: 1;
                }

                &.hover {
                    opacity: 1;
                }
            }

            // .languge-vi & .active

            .language-en {
                margin: 0 10px;
                cursor: pointer;
                opacity: 0.5;

                &.active {
                    color: blue;
                    opacity: 1;
                }

                &.hover {
                    opacity: 1;
                }
            }
        }
    }
}

.home-header-banner {
    background: url("../../assets/back2.jpg");
    height: 680px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;


    .content-up {
        height: 80%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));

        .title-1 {
            text-align: center;
            font-size: 30px;
            color: white;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 15px;
            margin-top: 120px;
        }

        .title-2 {
            text-align: center;
            font-size: 30px;
            color: white;
            text-shadow: 1px 1px 1px #333;
        }

        .search {
            display: flex;
            justify-content: center;
            width: fit-content;
            margin: 15px auto;
            align-items: center;
            padding: 10px;
            border-radius: 30px;
            background: #f7d800;

            i {
                margin: 0 5px;
            }

            input {
                height: 30px;
                width: 400px;
                background: transparent;
                border: none;
                outline: none;
            }
        }
    }

    .content-down {
        height: 20%;
        padding: 0 400px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));

        .options {
            text-align: center;
            display: flex;
            grid-gap: 30px;
            justify-content: center;


            .option-child {
                width: 200px;
                // margin: 250px 30px;
                margin-bottom: 60px;

                .icon {
                    background: white;
                    width: 60px;
                    height: 60px;
                    padding: 10px;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;
                    font-size: 25px;
                    color: #49bce2;
                }

                .text {
                    font-size: 17px;
                    font-weight: 600;
                    cursor: pointer;

                    &:hover {
                        color: #49bce2;
                    }
                }
            }
        }
    }

}

@media (max-width: 1024px) { /* Áp dụng khi kích thước màn hình nhỏ hơn hoặc bằng 768px */
    .home-header-container {
    
        .home-header-content {
            display: flex;
            justify-content: space-between;
            .left-content {
                .icon-bars{
                    display: block;
                }
                
                          
            }
    
            .center-content {
                display: none;
            }
    
            .right-content {
                i {
                    display: none;
                }
            }
        }
    }
    .home-header-banner {
        height: 420px;  
        .content-up {
            .title-1, .title-2 { 
                font-size: 26px;
            }
        }
        .content-down {
            background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
    
            .options {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .home-header-container {
        .home-header-content {
            .left-content, .right-content {
                width: 20%; /* Điều chỉnh lại phần trái và phải */
            }

            .center-content {
                width: 60%; /* Căn giữa phần trung tâm */
            }
        }
    }

    .home-header-banner {
        height: 380px;
        .content-up {
            .title-1, .title-2 {
                font-size: 20px;
            };
            .search{
                width: 80%;
            }
        }

        .content-down {
            padding: 0 100px; /* Giảm padding */
        }
    }
}

    