.doctor-extra-info{
    padding:1rem 4rem;
    .title-cus{
        text-transform: uppercase;
    }
    .showHide{
        color: steelblue;
        cursor: pointer;
    }
    .content-up{
        padding-left: 5px;
        .name-clinic{
            font-weight: 600;
        }
        .clinic-address{
            color: #333;
        }
    }
    .content-down{
        margin-top: 10px;
        .price{
            padding: 5px;
            background-color: #f7f7f7;
            .des{
                color: #575757;
            }
        }
        .price-hide{
            font-size: 19px;
        }
        .note{
            padding: 5px;
            background-color: #ebe8e8;
        }
    }
}