.doctor-detail-container{
    margin-top: 10px;
    .doctor-info-detail{
        background: #f7f7f7;
        margin-top: 2rem;
        border-top: 1px solid #ccc;
        .mardown{
            padding:1rem 4rem;
        }
    }
}