.doctor-detail-container{
    margin: 10px 0;
    .doctor-info{
        padding:0 4rem;
        .image{    
            height: 140px;
            width: 140px;
            border-radius: 50%;
            background-size: cover;  /* Đảm bảo hình ảnh phủ toàn bộ phần tử */
            background-position: center center;  /* Căn giữa hình ảnh */
            background-repeat: no-repeat;  /* Không lặp lại hình ảnh */
        }
        .up{
            font-size: 20px;
            font-weight: 500;
        }
        .down{
            margin-top: 20px;
            width: 50%;
        }
    }
    .doctor-schedule{
        padding:1rem 4rem;
        .col-left{
            .day-select{
                color: rgb(80, 130, 145);
                cursor: pointer;
                border-bottom: 1px solid rgb(80, 130, 145);
                border-right: none;
                border-top: none;
                border-left: none;
                outline: none;
                font-weight: 600;
                padding-bottom: 5px;
            }
        }
    }
    .doctor-extra-info{
        padding:1rem 4rem;
        .showHide{
            color: steelblue;
            cursor: pointer;
        }
        .content-up{
            .name-clinic{
                font-weight: 600;
            }
            .clinic-address{
                color: #333;
            }
        }
        .content-down{
            margin-top: 10px;
            .price{
                padding: 0.5rem 0;
                background-color: #f7f7f7;
                .des{
                    color: #575757;
                }
            }
            .note{
                padding: 0.5rem 0;
                background-color: #ebe8e8;
            }
        }
    }
    .doctor-info-detail{
        background: #f7f7f7;
        margin-top: 2rem;
        border-top: 1px solid #ccc;
        .mardown{
            padding:1rem 4rem;
        }
    }
}